.primaryForm{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid blue;
    padding: 40px 40px 40px 40px;
    background-color: white;
}

.secundaryForm{
    text-align: center;
}

.tittle{
    font-family:Helvetica;
    color: black;
}