
.container {
  position: absolute;
  left: 30%;
  right: 30%;

  
}
.countryFind{
    font-size: 5rem;
    background-color: rgba(245, 245, 220, 0.098); 
}

.link{
    text-align: center;
}

h2{
    
}